# Import Packages

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns; sns.set()
import matplotlib.pyplot as plt
%matplotlib inline

# Load Data

In [2]:
df = pd.read_csv("df_train.csv")
#SPY = pd.read_csv("Merged_Cleansed\SPY_train.csv")

In [3]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', 100)
df.head(3)

,PERMNO,Date,TICKER,Price,Return,Shares Outstanding,Turnover,Dollar Turnover,Current Ratio,Cash Ratio,Quick Ratio,Revenue Growth,COGS Growth,Operating Income Growth,Net Income Growth,Net Operating Cash Flow Growth,Beta,Alpha,SPY Return,Rf
0,10051,1995-01-01,HNGR,2.750,-0.083333,8.291,97044.98854,291134.9656,3.665316,0.151708,2.295165,0.069731,0.094391,-0.070118,-0.585781,-19.375000,0.622587,-0.100830,0.0243,0.006274
1,10057,1995-01-01,AMT.1,15.625,0.499524,6.305,68295.00397,717097.5416,2.353802,1.023869,1.736129,-0.031245,-0.072984,-0.484988,-0.139967,3.746730,1.880342,0.459355,0.0243,0.006274
2,10064,1995-01-01,TTI.4,4.750,-0.155556,34.718,66377.67152,373374.4023,1.551626,0.135192,1.257590,0.521483,0.637787,0.870256,-7.713339,1.039793,0.297465,-0.167192,0.0243,0.006274

In [4]:
df.describe()

,PERMNO,Price,Return,Shares Outstanding,Turnover,Dollar Turnover,Current Ratio,Cash Ratio,Quick Ratio,Revenue Growth,COGS Growth,Operating Income Growth,Net Income Growth,Net Operating Cash Flow Growth,Beta,Alpha,SPY Return,Rf
count,292603.000000,292603.000000,292603.000000,292603.000000,2.926030e+05,2.926030e+05,292603.000000,292603.000000,292603.000000,292603.000000,292603.000000,292603.000000,292603.000000,292603.000000,292603.000000,292603.000000,292603.000000,292603.000000
mean,61346.673500,34.422624,0.014294,234.450558,1.396592e+05,4.989134e+06,2.062274,0.792286,1.532762,0.101553,0.080711,0.229864,-0.014035,-0.574639,1.067192,0.006572,0.006826,0.002976
std,26167.782107,34.454902,0.126436,576.835854,1.609450e+05,8.423066e+06,3.565335,4.386625,3.551762,8.580861,2.586953,24.876670,71.605561,335.714551,0.959791,0.114971,0.043226,0.001536
min,10051.000000,0.010000,-0.974860,0.494000,2.589345e-01,1.315789e+00,0.000000,-0.174382,-36.536079,-18.911028,-9.253968,-623.666667,-14404.500000,-126789.000000,-6.499151,-2.968999,-0.169400,0.000497
25%,40061.000000,15.300000,-0.047266,30.162000,4.568965e+04,8.299268e+05,1.144828,0.091108,0.809333,-0.046345,-0.048160,-0.142857,-0.550701,-0.735610,0.578585,-0.048669,-0.017700,0.001465
50%,75178.000000,27.562500,0.010204,65.984000,9.770590e+04,2.573103e+06,1.647031,0.263776,1.164905,0.019633,0.018079,0.001075,-0.034700,0.284312,0.976730,0.002017,0.011100,0.002922
75%,83345.000000,44.625000,0.068580,176.661000,1.784430e+05,6.050418e+06,2.407422,0.669571,1.708231,0.095809,0.096809,0.181995,0.300083,0.810605,1.443149,0.053807,0.035800,0.004151
max,93427.000000,1075.050000,10.764710,15713.667000,8.882576e+06,4.858665e+08,741.220339,291.011841,741.220339,2537.000000,631.695402,6066.692308,10612.333330,8538.400000,106.773328,10.429018,0.107700,0.006274

In [5]:
df = df[df['Price'] >= 5]

In [6]:
df.describe()

,PERMNO,Price,Return,Shares Outstanding,Turnover,Dollar Turnover,Current Ratio,Cash Ratio,Quick Ratio,Revenue Growth,COGS Growth,Operating Income Growth,Net Income Growth,Net Operating Cash Flow Growth,Beta,Alpha,SPY Return,Rf
count,276398.000000,276398.000000,276398.000000,276398.000000,2.763980e+05,2.763980e+05,276398.000000,276398.000000,276398.000000,276398.000000,276398.000000,276398.000000,276398.000000,276398.000000,276398.000000,276398.000000,276398.000000,276398.000000
mean,60847.846392,36.263632,0.015284,237.078594,1.412386e+05,5.259046e+06,2.051240,0.745909,1.519489,0.055797,0.074127,0.233460,-0.081288,-0.599863,1.053735,0.007356,0.007039,0.002983
std,26211.900402,34.575292,0.114432,577.861463,1.596819e+05,8.588360e+06,3.595970,3.661364,3.581857,1.076330,2.501608,24.895143,66.636743,345.338843,0.936286,0.103599,0.042801,0.001536
min,10051.000000,5.000000,-0.848364,0.494000,2.589345e-01,3.625084e+00,0.000000,-0.174382,-36.536079,-18.911028,-9.253968,-503.728000,-14404.500000,-126789.000000,-5.526485,-2.968999,-0.169400,0.000497
25%,38850.000000,17.250000,-0.044046,30.499000,4.777937e+04,1.025957e+06,1.146681,0.091099,0.811156,-0.044186,-0.045940,-0.131487,-0.507605,-0.732007,0.580372,-0.045908,-0.017700,0.001465
50%,75034.000000,29.060000,0.011299,67.742500,9.998501e+04,2.828821e+06,1.647342,0.261077,1.163110,0.020739,0.019053,0.005763,-0.025387,0.298284,0.969692,0.002970,0.011300,0.003006
75%,83143.000000,45.950000,0.068133,179.860000,1.805605e+05,6.363984e+06,2.402148,0.659896,1.699737,0.096027,0.096666,0.182387,0.297819,0.818182,1.420740,0.053292,0.035800,0.004192
max,93427.000000,1075.050000,2.925926,15713.667000,8.882576e+06,4.858665e+08,741.220339,291.011841,741.220339,228.250000,631.695402,6066.692308,10612.333330,8538.400000,106.773328,2.747079,0.107700,0.006274

# Rank for factor

## Date Processing

In [7]:
# Transform Date into datetime type
df['Date'] = pd.to_datetime(df['Date'])
df.set_index('Date', inplace=True)

In [8]:
# Construct Date List
Date = []
for i in range(1995, 2016):
    for j in range(1, 13):
        date = str(i) + '-' + str(j)
        Date.append(date)
        
#Date = Date[1:]

## Define Rank Function and Use it to rank for each factor

In [9]:
def percentile_to_score(value):
    if value >= 0.9: value = 1
    elif value >= 0.8: value = 2
    elif value >= 0.7: value = 3
    elif value >= 0.6: value = 4
    elif value >= 0.5: value = 5
    elif value >= 0.4: value = 6
    elif value >= 0.3: value = 7
    elif value >= 0.2: value = 8
    elif value >= 0.1: value = 9
    elif value >= 0.0: value = 10
    return value 

def Rank(df_, factor, factor_rank, Date):
    df = df_.copy()
        
    # First, we select the first date's dataframe and rank
    dataframe = df[Date[0]].copy()
#     dataframe = dataframe.sort_values(by = [factor], axis = 0, ascending = False)  # Sort by Turnover
#     dataframe[factor_rank] = range(len(dataframe))  
#     dataframe[factor_rank] += 1 
    dataframe[factor_rank] = dataframe[factor].rank(pct=True).apply(lambda x: percentile_to_score(x))
    
    for i in range(1, len(Date)):
        DF = df[Date[i]].copy()  # Divide the big df into small DF by date
#         DF = DF.sort_values(by = [factor], axis = 0, ascending = False)  # Sort by Turnover
#         DF[factor_rank] = range(len(DF))  
#         DF[factor_rank] += 1 
        DF[factor_rank] = DF[factor].rank(pct=True).apply(lambda x: percentile_to_score(x))
        dataframe = pd.concat([dataframe, DF])
    
    return dataframe

In [ ]:
Factor_List = list(df.columns[5:-4])
Factor_Rank = []

for factor in Factor_List:
    factor_rank = factor + " Rank"
    Factor_Rank.append(factor_rank)
    df = Rank(df, factor, factor_rank, Date)   # Rank for each factor

In [ ]:
df.head(3)

In [ ]:
#df_ = df.copy()
for factor in Factor_List:
    #del df_[factor]
    del df[factor]
    
df.head(3)

In [ ]:
df.reset_index(inplace=True)
df.to_csv("df_train_rank.csv", index=False)