# Import Packages

In [1]:
import test_helper as th
import numpy as np
import pandas as pd 
import Statistics
import seaborn as sns; sns.set()
import matplotlib.pyplot as plt
%matplotlib inline

# Load Data

In [2]:
pd.set_option("display.max_columns", None)

In [3]:
df = pd.read_csv("./Data/Fast.csv")

In [5]:
df.head(3)

,Date,Ticker,Close,Return,1W,1M,3M,6M,SPY Close,SPY Return,Rf,Beta,Alpha,1W + 1M,1W + 3M,1W + 6M,1M + 3M,1M + 6M,3M + 6M,1W + 1M + 3M,1W + 1M + 6M,1W + 3M + 6M,1M + 3M + 6M,Total Rank
0,2018-03-01,MMM,231.339996,-0.017706,7.0,8.0,7.0,4.0,267.700012,-0.014541,0.000081,1.074155,-0.524473,7.5,7.0,5.5,7.5,6.0,5.5,7.333333,6.333333,6.000000,6.333333,6.50
1,2018-03-01,AOS,62.060001,-0.033183,10.0,6.0,6.0,4.0,267.700012,-0.014541,0.000081,1.153893,-4.130742,8.0,8.0,7.0,6.0,5.0,5.0,7.333333,6.666667,6.666667,5.333333,6.50
2,2018-03-01,ABT,58.790001,-0.025526,4.0,6.0,4.0,3.0,267.700012,-0.014541,0.000081,0.911332,-3.095087,5.0,4.0,3.5,5.0,4.5,3.5,4.666667,4.333333,3.666667,4.333333,4.25