# Import Packages

In [1]:
import numpy as np 
import pandas as pd

# Load Data

In [2]:
df_lag = pd.read_csv("D:\\NYU\Syllabus\Spring 2020\Quant Equity Invest\Project\Original Data\Monthly_lag.csv")
df_return = pd.read_csv("D:\\NYU\Syllabus\Spring 2020\Quant Equity Invest\Project\Original Data\Monthly_Return.csv")

In [3]:
df_lag.head(3)

,PERMNO,Date,TICKER,COMNAM,Price,Volume,Shares Outstanding
0,10051,1999-01-20,HGR,HANGER ORTHOPEDIC GROUP INC,22.5000,12744.0,18179.0
1,10051,1999-02-18,HGR,HANGER ORTHOPEDIC GROUP INC,25.0000,9577.0,18179.0
2,10051,1999-03-18,HGR,HANGER ORTHOPEDIC GROUP INC,15.1875,29372.0,18179.0

In [4]:
df_return.head(3)

   PERMNO        Date    Return
0   10051  1998-12-31 -0.062500
1   10051  1999-01-29  0.111111
2   10051  1999-02-26 -0.392500

# Only reserve Year-Month

In [5]:
def delete_day(row):
    row = row[:7]
    return row

df_lag['Date'] = df_lag['Date'].apply(delete_day)
df_return['Date'] = df_return['Date'].apply(delete_day)

# Merge

In [6]:
df_lag.set_index(['PERMNO','Date'], inplace=True)
df_return.set_index(['PERMNO','Date'], inplace=True)

In [7]:
df = pd.merge(df_lag, df_return, on = ['PERMNO', 'Date'], how = 'outer')
df

               TICKER                       COMNAM    Price   Volume  \
PERMNO Date
10051  1999-01    HGR  HANGER ORTHOPEDIC GROUP INC  22.5000  12744.0
       1999-02    HGR  HANGER ORTHOPEDIC GROUP INC  25.0000   9577.0
       1999-03    HGR  HANGER ORTHOPEDIC GROUP INC  15.1875  29372.0
       1999-04    HGR  HANGER ORTHOPEDIC GROUP INC  13.5000  28203.0
       1999-05    HGR  HANGER ORTHOPEDIC GROUP INC  14.6250  23561.0
...               ...                          ...      ...      ...
93420  2010-06    NaN                          NaN      NaN      NaN
93422  2010-07    NaN                          NaN      NaN      NaN
93423  2010-06    NaN                          NaN      NaN      NaN
93426  2010-07    NaN                          NaN      NaN      NaN
93427  2010-06    NaN                          NaN      NaN      NaN

                Shares Outstanding    Return
PERMNO Date
10051  1999-01             18179.0  0.111111
       1999-02             18179.0 -0.392500
       1999-03             18179.0 -0.111111
       1999-04             18826.0  0.083333
       1999-05             18826.0  0.119658
...                            ...       ...
93420  2010-06                 NaN       NaN
93422  2010-07                 NaN       NaN
93423  2010-06                 NaN       NaN
93426  2010-07                 NaN       NaN
93427  2010-06                 NaN       NaN

[664190 rows x 6 columns]

# Drop missing rows

In [9]:
indice = list(df[np.isnan(df['Price'])].index)
df = df.drop(indice)

In [10]:
df

               TICKER                       COMNAM    Price   Volume  \
PERMNO Date
10051  1999-01    HGR  HANGER ORTHOPEDIC GROUP INC  22.5000  12744.0
       1999-02    HGR  HANGER ORTHOPEDIC GROUP INC  25.0000   9577.0
       1999-03    HGR  HANGER ORTHOPEDIC GROUP INC  15.1875  29372.0
       1999-04    HGR  HANGER ORTHOPEDIC GROUP INC  13.5000  28203.0
       1999-05    HGR  HANGER ORTHOPEDIC GROUP INC  14.6250  23561.0
...               ...                          ...      ...      ...
93427  2015-09     FN                     FABRINET  19.8800  45363.0
       2015-10     FN                     FABRINET  18.3300  41704.0
       2015-11     FN                     FABRINET  21.6700  64993.0
       2015-12     FN                     FABRINET  23.9300  63321.0
       2016-01     FN                     FABRINET  23.8200  56463.0

                Shares Outstanding    Return
PERMNO Date
10051  1999-01             18179.0  0.111111
       1999-02             18179.0 -0.392500
       1999-03             18179.0 -0.111111
       1999-04             18826.0  0.083333
       1999-05             18826.0  0.119658
...                            ...       ...
93427  2015-09             35441.0 -0.077968
       2015-10             35441.0  0.182215
       2015-11             35778.0  0.104292
       2015-12             35784.0 -0.004597
       2016-01             35784.0       NaN

[654845 rows x 6 columns]

In [11]:
df.to_csv("D:\\NYU\Syllabus\Spring 2020\Quant Equity Invest\Project\Original Data\Monthly_new.csv")