# Import Packages

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns; sns.set()
import matplotlib.pyplot as plt
%matplotlib inline

# Load Data

In [2]:
df = pd.read_csv("df_test.csv")
#SPY = pd.read_csv("Merged_Cleansed\SPY_train.csv")

In [3]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', 100)
df.head(3)

,Date,PERMNO,TICKER,Price,Return,Shares Outstanding,Turnover,Dollar Turnover,Current Ratio,Cash Ratio,Quick Ratio,Revenue Growth,COGS Growth,Operating Income Growth,Net Income Growth,Net Operating Cash Flow Growth,Beta,Alpha,SPY Return,Rf
0,2015-01-01,10025,AEPI,50.11,-0.138263,5.083,83082.66089,4831256.731,1.941525,0.005198,1.083877,0.025382,0.027773,-0.137631,-1.234818,1.104191,0.971110,-0.108187,-0.031,0.000989
1,2015-01-01,10026,JJSF,98.12,-0.097913,18.678,70414.17711,7658950.044,2.945337,1.049132,2.030391,-0.014076,-0.009544,-0.058813,-0.062885,0.541072,0.849687,-0.071721,-0.031,0.000989
2,2015-01-01,10032,PLXS,37.89,-0.080563,33.548,129904.64410,5353370.383,2.432931,0.488665,1.332852,0.073679,0.076166,0.058879,0.075903,0.533202,1.830547,-0.022995,-0.031,0.000989

In [4]:
df.describe()

,PERMNO,Price,Return,Shares Outstanding,Turnover,Dollar Turnover,Current Ratio,Cash Ratio,Quick Ratio,Revenue Growth,COGS Growth,Operating Income Growth,Net Income Growth,Net Operating Cash Flow Growth,Beta,Alpha,SPY Return,Rf
count,330912.000000,330912.000000,330912.000000,330912.000000,3.309120e+05,3.309120e+05,330912.000000,330912.000000,330912.000000,330912.000000,330912.000000,330912.000000,330912.000000,330912.000000,330912.000000,330912.000000,330912.000000,330912.000000
mean,59862.590130,33.969802,0.009657,107.039308,2.372143e+05,6.836431e+06,3.804375,2.631340,3.318126,1.174020,0.164907,-0.089158,0.077412,0.327027,1.153579,-0.002002,0.009350,0.001628
std,33422.639809,77.428917,0.184882,382.842253,8.102579e+05,1.911348e+07,8.923268,12.190554,8.909120,69.659341,5.539941,20.752591,40.107334,52.949681,1.584055,0.176564,0.033459,0.000459
min,10025.000000,0.033200,-0.983861,0.484000,5.242464e+00,3.428571e+01,0.000000,0.000000,-11.582446,-293.666667,-50.791667,-2698.625000,-1374.000000,-4011.275862,-18.415114,-2.065562,-0.091800,0.000843
25%,15423.000000,4.180000,-0.069444,17.594000,6.017548e+04,3.339881e+05,1.359673,0.278616,1.035665,-0.064181,-0.059820,-0.268938,-0.708333,-0.697121,0.422380,-0.075391,-0.000400,0.001269
50%,79122.000000,14.350000,0.001355,36.120000,1.282397e+05,1.847781e+06,2.242566,0.849999,1.728053,0.016429,0.016172,0.000000,-0.087003,0.253057,1.068986,-0.007766,0.015300,0.001567
75%,88417.000000,39.410000,0.072441,72.206000,2.333784e+05,6.821098e+06,4.033549,2.389814,3.321566,0.108306,0.105819,0.203555,0.314891,0.699241,1.755977,0.057774,0.029700,0.002091
max,93436.000000,2178.000000,8.903865,8218.000000,6.459822e+07,8.851129e+08,302.200000,671.786517,302.200000,11201.000000,769.000000,1215.864407,5409.333333,6184.692308,37.536994,8.880325,0.083000,0.002489

In [5]:
df = df[df['Price'] >= 5]

In [6]:
df.describe()

,PERMNO,Price,Return,Shares Outstanding,Turnover,Dollar Turnover,Current Ratio,Cash Ratio,Quick Ratio,Revenue Growth,COGS Growth,Operating Income Growth,Net Income Growth,Net Operating Cash Flow Growth,Beta,Alpha,SPY Return,Rf
count,237454.000000,237454.000000,237454.000000,237454.000000,2.374540e+05,2.374540e+05,237454.000000,237454.000000,237454.000000,237454.000000,237454.000000,237454.000000,237454.000000,237454.000000,237454.000000,237454.000000,237454.000000,237454.000000
mean,60333.521120,46.414323,0.019615,127.576886,2.017409e+05,9.231983e+06,3.595721,2.452832,3.074720,1.072483,0.071463,0.039239,0.372801,0.397556,1.103154,0.008639,0.009407,0.001628
std,32856.630642,88.350818,0.161399,436.317797,4.921185e+05,2.195260e+07,5.568187,12.906873,5.539422,81.724518,1.149279,13.331636,45.014385,60.643862,1.297084,0.152754,0.033141,0.000461
min,10025.000000,5.000000,-0.983861,0.484000,5.242464e+00,3.428571e+01,0.000000,0.000000,-11.582446,-293.666667,-50.791667,-1393.500000,-1374.000000,-4011.275862,-18.415114,-2.065562,-0.091800,0.000843
25%,15579.000000,12.110000,-0.050766,19.834000,7.608687e+04,1.252636e+06,1.422056,0.292194,1.082476,-0.046086,-0.044934,-0.213913,-0.688624,-0.701048,0.475060,-0.056822,-0.000400,0.001269
50%,79007.000000,25.520000,0.009094,40.084000,1.402999e+05,3.795123e+06,2.290973,0.856138,1.752376,0.021751,0.021134,0.000000,-0.081821,0.297403,1.040906,-0.000223,0.015300,0.001567
75%,88195.000000,52.770000,0.074658,84.834000,2.365691e+05,9.679599e+06,3.978417,2.216166,3.203904,0.099887,0.099274,0.208220,0.319220,0.747552,1.641042,0.058708,0.029700,0.002091
max,93436.000000,2178.000000,8.903865,8218.000000,6.459822e+07,8.851129e+08,302.200000,671.786517,302.200000,11201.000000,116.083231,1215.864407,5409.333333,6184.692308,37.117313,8.880325,0.083000,0.002489

# Rank for factor

## Date Processing

In [7]:
# Transform Date into datetime type
df['Date'] = pd.to_datetime(df['Date'])
df.set_index('Date', inplace=True)

In [8]:
# Construct Date List
Date = []
for i in range(2015, 2020):
    for j in range(1, 13):
        date = str(i) + '-' + str(j)
        Date.append(date)

## Define Rank Function and Use it to rank for each factor

In [9]:
def percentile_to_score(value):
    if value >= 0.9: value = 1
    elif value >= 0.8: value = 2
    elif value >= 0.7: value = 3
    elif value >= 0.6: value = 4
    elif value >= 0.5: value = 5
    elif value >= 0.4: value = 6
    elif value >= 0.3: value = 7
    elif value >= 0.2: value = 8
    elif value >= 0.1: value = 9
    elif value >= 0.0: value = 10
    return value 

def Rank(df_, factor, factor_rank, Date):
    df = df_.copy()
        
    # First, we select the first date's dataframe and rank
    dataframe = df[Date[0]].copy()
#     dataframe = dataframe.sort_values(by = [factor], axis = 0, ascending = False)  # Sort by Turnover
#     dataframe[factor_rank] = range(len(dataframe))  
#     dataframe[factor_rank] += 1 
    dataframe[factor_rank] = dataframe[factor].rank(pct=True).apply(lambda x: percentile_to_score(x))
    
    for i in range(1, len(Date)):
        DF = df[Date[i]].copy()  # Divide the big df into small DF by date
#         DF = DF.sort_values(by = [factor], axis = 0, ascending = False)  # Sort by Turnover
#         DF[factor_rank] = range(len(DF))  
#         DF[factor_rank] += 1 
        DF[factor_rank] = DF[factor].rank(pct=True).apply(lambda x: percentile_to_score(x))
        dataframe = pd.concat([dataframe, DF])
    
    return dataframe

In [10]:
Factor_List = list(df.columns[5:-4])
Factor_Rank = []

for factor in Factor_List:
    factor_rank = factor + " Rank"
    Factor_Rank.append(factor_rank)
    df = Rank(df, factor, factor_rank, Date)   # Rank for each factor

In [11]:
df.head(3)

,PERMNO,TICKER,Price,Return,Shares Outstanding,Turnover,Dollar Turnover,Current Ratio,Cash Ratio,Quick Ratio,Revenue Growth,COGS Growth,Operating Income Growth,Net Income Growth,Net Operating Cash Flow Growth,Beta,Alpha,SPY Return,Rf,Turnover Rank,Dollar Turnover Rank,Current Ratio Rank,Cash Ratio Rank,Quick Ratio Rank,Revenue Growth Rank,COGS Growth Rank,Operating Income Growth Rank,Net Income Growth Rank,Net Operating Cash Flow Growth Rank
Date,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
2015-01-01,10025,AEPI,50.11,-0.138263,5.083,83082.66089,4831256.731,1.941525,0.005198,1.083877,0.025382,0.027773,-0.137631,-1.234818,1.104191,0.971110,-0.108187,-0.031,0.000989,8,5,7,10,8,5,5,8,9,2
2015-01-01,10026,JJSF,98.12,-0.097913,18.678,70414.17711,7658950.044,2.945337,1.049132,2.030391,-0.014076,-0.009544,-0.058813,-0.062885,0.541072,0.849687,-0.071721,-0.031,0.000989,8,3,4,5,5,7,7,7,6,5
2015-01-01,10032,PLXS,37.89,-0.080563,33.548,129904.64410,5353370.383,2.432931,0.488665,1.332852,0.073679,0.076166,0.058879,0.075903,0.533202,1.830547,-0.022995,-0.031,0.000989,6,4,5,7,7,3,3,5,4,5

In [12]:
#df_ = df.copy()
for factor in Factor_List:
    #del df_[factor]
    del df[factor]
    
df.head(3)

,PERMNO,TICKER,Price,Return,Shares Outstanding,Beta,Alpha,SPY Return,Rf,Turnover Rank,Dollar Turnover Rank,Current Ratio Rank,Cash Ratio Rank,Quick Ratio Rank,Revenue Growth Rank,COGS Growth Rank,Operating Income Growth Rank,Net Income Growth Rank,Net Operating Cash Flow Growth Rank
Date,,,,,,,,,,,,,,,,,,,
2015-01-01,10025,AEPI,50.11,-0.138263,5.083,0.971110,-0.108187,-0.031,0.000989,8,5,7,10,8,5,5,8,9,2
2015-01-01,10026,JJSF,98.12,-0.097913,18.678,0.849687,-0.071721,-0.031,0.000989,8,3,4,5,5,7,7,7,6,5
2015-01-01,10032,PLXS,37.89,-0.080563,33.548,1.830547,-0.022995,-0.031,0.000989,6,4,5,7,7,3,3,5,4,5

In [13]:
df.reset_index(inplace=True)
df.to_csv("df_test_rank.csv", index=False)