In [1]:
import numpy as np 
import pandas as pd

In [2]:
df = pd.read_csv("D:\\NYU\Syllabus\Spring 2020\Quant Equity Invest\Project\Original Data\Quarterly1.csv")

In [3]:
del df['Unnamed: 0']
df.head(3)

,PERMNO,Date,TICKER,COMNAM,Current Assets,Assets,Cash&Short Term,EPS_Basic,Inventory,Current Liabilities,Liabilities,Operating Income,EPS_Operation,Revenue,Net Income,Equities,Leverage,Current Ratio,Quick Ratio,Cash Ratio
0,54594,1994-08-31,AIR,AAR CORP,307.882,410.644,7.199,0.13,182.105,66.562,220.524,7.808,0.13,97.191,2.005,190.120,0.537020,4.625492,1.889622,0.108155
1,54594,1994-11-30,AIR,AAR CORP,310.681,413.529,1.647,0.13,192.493,69.590,222.949,7.805,0.13,99.384,2.005,190.580,0.539138,4.464449,1.698347,0.023667
2,54594,1995-02-28,AIR,AAR CORP,322.377,425.363,9.511,0.18,183.795,73.251,231.240,9.389,0.18,125.232,2.005,194.123,0.543630,4.400991,1.891879,0.129841

In [4]:
df.dropna(thresh = 5, inplace = True)

In [5]:
def fill_values_in_same_quarter(Series, Series1):
    n = len(Series)
    Series = list(Series)  # Transform into list will be faster
    Series1 = list(Series1)
    for i in range(1,n):
        if np.isnan(Series[i]):
            if np.isnan(Series[i-1]) == False and Series1[i] == Series1[i-1]:
                Series[i] = Series[i-1]
            elif np.isnan(Series[i-2]) == False and Series1[i] == Series1[i-2]:
                Series[i] = Series[i-2]
    Series = pd.Series(Series)  # Go back to pd.Series so that can add into dataframe           
    return Series

In [6]:
df['Assets'] = fill_values_in_same_quarter(df['Assets'], df['PERMNO'])
df['EPS_Basic'] = fill_values_in_same_quarter(df['EPS_Basic'], df['PERMNO'])
df['Liabilities'] = fill_values_in_same_quarter(df['Liabilities'], df['PERMNO'])
df['Operating Income'] = fill_values_in_same_quarter(df['Operating Income'], df['PERMNO'])
df['EPS_Operation'] = fill_values_in_same_quarter(df['EPS_Operation'], df['PERMNO'])
df['Net Income'] = fill_values_in_same_quarter(df['Net Income'], df['PERMNO'])
df['Revenue'] = fill_values_in_same_quarter(df['Revenue'], df['PERMNO'])
df['Equities'] = fill_values_in_same_quarter(df['Equities'], df['PERMNO'])
df['Leverage'] = fill_values_in_same_quarter(df['Leverage'], df['PERMNO'])
df['Current Assets'] = fill_values_in_same_quarter(df['Current Assets'], df['PERMNO'])
df['Current Liabilities'] = fill_values_in_same_quarter(df['Liabilities'], df['PERMNO'])
df['Current Ratio'] = fill_values_in_same_quarter(df['Current Ratio'], df['PERMNO'])
df['Quick Ratio'] = fill_values_in_same_quarter(df['Quick Ratio'], df['PERMNO'])
df['Cash Ratio'] = fill_values_in_same_quarter(df['Cash Ratio'], df['PERMNO'])

In [7]:
df.to_csv("D:\\NYU\Syllabus\Spring 2020\Quant Equity Invest\Project\Original Data\Quarterly2.csv",
         index = False)