# Import Packages

In [18]:
import numpy as np 
import pandas as pd

# Load Data

In [19]:
df = pd.read_csv("D:\\NYU\Syllabus\Spring 2020\Quant Equity Invest\Project\Original Data\^GSPC.csv")

In [20]:
df.head(3)

,Date,Open,High,Low,Close,Adj Close,Volume
0,1994-12-02,448.920013,453.309998,448.000000,453.299988,453.299988,284750000
1,1994-12-05,453.299988,455.040009,452.059998,453.320007,453.320007,258490000
2,1994-12-06,453.290009,453.929993,450.350006,453.109985,453.109985,298930000

In [21]:
df['Date'] = pd.to_datetime(df['Date'])

In [22]:
df.set_index('Date', inplace=True)
df.head(3)

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
1994-12-02,448.920013,453.309998,448.000000,453.299988,453.299988,284750000
1994-12-05,453.299988,455.040009,452.059998,453.320007,453.320007,258490000
1994-12-06,453.290009,453.929993,450.350006,453.109985,453.109985,298930000

In [27]:
Date = []
Date.append('1994-12')
for i in range(1995, 2016):
    for j in range(1, 13):
        date = str(i) + '-' + str(j)
        Date.append(date)

In [40]:
Price = []
Return = []
N = len(Date)
for i in range(N):
    DF = df[Date[i]].copy()
    Price.append(DF.head(1)['Adj Close'].values[0])

In [41]:
for i in range(len(Price)-1):
    Return.append(Price[i+1]/Price[i] - 1)

In [42]:
Return

[0.012817112626969607,
 0.024591077016109963,
 0.032419218100585345,
 0.03335738124193188,
 0.024728512208088027,
 0.037393496725518505,
 0.025492581407197346,
 0.0229395298408539,
 0.007504845771258761,
 0.03171102288557459,
 0.004297600434281845,
 0.03895794414737663,
 0.022653135940331914,
 0.028563211978258396,
 0.009256606202980189,
 0.014525792747379418,
 0.0013002876202803382,
 0.020012795471573197,
 0.012281350476230246,
 -0.03826120732777105,
 0.007230471147642303,
 0.05248052224146993,
 0.02131828327275387,
 0.07501026826917134,
 -0.025840631346729093,
 0.06746172959034835,
 0.010905924800272748,
 -0.044850414416643614,
 0.05119532045715092,
 0.05989750449322173,
 0.052779012230829814,
 0.0629720482742564,
 -0.020651643569298495,
 0.030002755007603854,
 -0.017186321541569294,
 0.03810480450382636,
 0.00027694532501110203,
 0.026901504135043774,
 0.04637103885323568,
 0.0576978866347202,
 0.011595881172854705,
 -0.026779678858162348,
 0.052778309460820516,
 -0.03144817523207977,
 -0.10623488661667901,
 -0.007915429486095804,
 0.12693757955366158,
 0.05728684272659623,
 0.044942435586982965,
 0.036560560929446595,
 -0.028939486252945845,
 0.04656349939881643,
 0.04708131231283286,
 -0.04456567090435892,
 0.06698804747896059,
 -0.03831386390209768,
 0.0022739331264465257,
 -0.03625646206273836,
 0.055588850040347415,
 0.032198015065865615,
 0.04113842628925268,
 -0.03156907059791858,
 -0.021351390341741605,
 0.09192354601141917,
 -0.025046960913140293,
 -0.013240211816788805,
 0.014308280006219976,
 -0.021394492266705756,
 0.05748560279511472,
 -0.05559028576852132,
 -0.01045097874923906,
 -0.07457676725821916,
 -0.024299902287811426,
 0.07028914382337081,
 -0.09628167618671579,
 -0.07682700751395,
 0.10522131352256947,
 -0.004555997338053119,
 -0.018997891727488336,
 -0.01681052905063829,
 -0.0682523741616472,
 -0.08331411806056199,
 0.04385915444697064,
 0.04224707039381026,
 0.021922311243352866,
 -0.028120668037353136,
 0.00853687258804725,
 0.01304141230786815,
 -0.052401203583261835,
 -0.04213676402567412,
 -0.06921438507747157,
 -0.08670835587570269,
 -0.007505655509068787,
 -0.03429312124340844,
 0.06256566226282612,
 0.037260262586878534,
 -0.02728644260611557,
 -0.05358461265969894,
 -0.02965176770554867,
 0.02835373564847976,
 0.0673516090614017,
 0.05533123721922384,
 0.015842820062047513,
 -0.0022090387903501707,
 0.04268730804010068,
 -0.0036889001231802387,
 0.040069975213636644,
 0.010481364648800673,
 0.035846433277793244,
 0.02415923650691454,
 0.01824248261858541,
 -0.020588706970831927,
 -0.012966297843506558,
 0.003319905353246222,
 0.006903309256387935,
 -0.01977071161130972,
 -0.0006415580806490295,
 0.023139283678838662,
 -0.0008749359257622658,
 0.05383409652427584,
 0.008989617872657618,
 -0.010539999387528254,
 0.017655812041013963,
 -0.030972966967324433,
 -0.00917369436650195,
 0.034470241471064034,
 -0.006471386424839132,
 0.03425039099559046,
 -0.011138552043813643,
 0.004183060717772857,
 -0.019515726710907844,
 0.05147330596733091,
 0.003265677889338736,
 0.010766008411464023,
 0.00684624024687186,
 0.005088185814319468,
 0.005686411465855468,
 -0.014925015423483123,
 -0.004293363330331923,
 -0.007241032524251123,
 0.031544050461131956,
 0.01549182374282565,
 0.02740897340991233,
 0.021128592972279092,
 0.014240619423777412,
 0.020711538540926888,
 -0.029579303944270885,
 0.015236930899017898,
 0.04334702037555438,
 0.03366743951442874,
 -0.0110066211738451,
 -0.03528954482560209,
 0.016107124422455543,
 0.038686195497446896,
 -0.024950936644762445,
 -0.0238789069560974,
 -0.01715543747379189,
 -0.03575277701457036,
 -0.04592171244460064,
 0.029173681397618223,
 0.028580121193327646,
 -0.016795040636774283,
 -0.07271573087423977,
 -0.019145289825015177,
 0.013702895471375598,
 -0.0912036044810961,
 -0.16774332170873496,
 -0.15532440014891125,
 0.1416179204915473,
 -0.1141446526826958,
 -0.15097401955084788,
 0.15732999757240096,
 0.08191547271223176,
 0.07447120693611065,
 -0.020723936601673154,
 0.08588477200996292,
 -0.004577986871637796,
 0.03187246873992455,
 0.012652356463229264,
 0.06326708699338823,
 0.02176109276772209,
 -0.03865881374644797,
 0.024348388652627007,
 0.05591956438578394,
 0.020507626255991118,
 -0.10941896753265534,
 -0.04047778350686326,
 0.09586613438131408,
 -0.0404756777993136,
 0.06104837462080881,
 0.033274022310109785,
 0.018313329259556532,
 0.054557407070982444,
 0.02808460860026818,
 -0.0009636124723826356,
 0.019964387925281546,
 0.021622425728445194,
 -0.03428536386056302,
 0.019109196351336566,
 -0.03936051510307559,
 -0.06412101635129852,
 -0.08733669331062699,
 0.10830313143387871,
 0.021587751891154028,
 0.026097240955405443,
 0.03682669947161821,
 0.037761784534208864,
 0.03271261279263271,
 -0.009316222683410813,
 -0.09089350834975285,
 0.06844071259961515,
 0.0071840820851984954,
 0.021536803189794007,
 0.02815070441505796,
 -0.011699647707492988,
 -0.012699728515743858,
 0.037574733916120096,
 0.0347027519269969,
 0.0033240857628291653,
 0.02896199079115891,
 0.013141915682515881,
 0.036469384461363274,
 -0.015520465683848905,
 0.05691164872167387,
 -0.0393117080952613,
 0.033681540293071244,
 0.03931564306784652,
 0.022286056552819566,
 0.017258012985622795,
 -0.049176282483174405,
 0.05961338781771475,
 0.021557887898640438,
 -0.000975840076203438,
 0.021919814308337893,
 0.025117261946108638,
 -0.02441059905041887,
 0.04006441266314531,
 -0.028028045122154066,
 0.03681610132170654,
 0.017657698672420175,
 0.002318066335887936,
 -0.018146912782624924,
 0.04777193663385515,
 -0.02725050884145308,
 0.02359583208742766,
 0.001631626074385828,
 -0.016247369846025483,
 0.009925830007516456,
 -0.087791490903954,
 0.00520937906577057,
 0.09368345690288415,
 -0.000674967784476066]

In [46]:
r = pd.Series(Return)
r

0      0.012817
1      0.024591
2      0.032419
3      0.033357
4      0.024729
         ...
247    0.009926
248   -0.087791
249    0.005209
250    0.093683
251   -0.000675
Length: 252, dtype: float64

In [47]:
Date = Date[1:]
Date = pd.Series(Date)

In [56]:
Date

0       1995-1
1       1995-2
2       1995-3
3       1995-4
4       1995-5
        ...
247     2015-8
248     2015-9
249    2015-10
250    2015-11
251    2015-12
Length: 252, dtype: object

In [65]:
df = pd.DataFrame(list(zip(Date, r)), columns=['Date', 'Return'])

In [66]:
df['Date'] = pd.to_datetime(df['Date'])

In [67]:
df.head()

        Date    Return
0 1995-01-01  0.012817
1 1995-02-01  0.024591
2 1995-03-01  0.032419
3 1995-04-01  0.033357
4 1995-05-01  0.024729

In [68]:
df.to_csv("D:\\NYU\Syllabus\Spring 2020\Quant Equity Invest\Project\Original Data\SPY_Return.csv")