# Import Packages

In [1]:
import numpy as np 
import pandas as pd

# Load Dataset and See

In [2]:
df = pd.read_csv("D:\\NYU\Syllabus\Spring 2020\Quant Equity Invest\Project\Original Data\df_liquid.csv")
SPY = pd.read_csv("D:\\NYU\Syllabus\Spring 2020\Quant Equity Invest\Project\Original Data\SPY_Return.csv")

In [3]:
pd.set_option('display.max_columns', None)  # To see all columns
df['Market Cap'] = df['Price'] * df['Shares Outstanding']
df.head(3)

,PERMNO,Date,TICKER,Price,Volume,Return,Shares Outstanding,Turnover,Dollar Turnover,Leverage,Current Ratio,Quick Ratio,Cash Ratio,Market Cap
0,10051,1998-12-01,HGR,22.5000,12744,-0.062500,18179,0.701029,15.773145,0.505724,1.329366,1.329366,0.819465,409027.5000
1,10051,1999-01-01,HGR,25.0000,9577,0.111111,18179,0.526817,13.170416,0.505724,1.329366,1.329366,0.819465,454475.0000
2,10051,1999-02-01,HGR,15.1875,29372,-0.392500,18179,1.615710,24.538602,0.505724,1.329366,1.329366,0.819465,276093.5625

# Test Turnover

## Change Date into datetime type & Set Date as index

In [4]:
df['Date'] = pd.to_datetime(df['Date'])
df.set_index('Date', inplace=True)
df.head(3)

,PERMNO,TICKER,Price,Volume,Return,Shares Outstanding,Turnover,Dollar Turnover,Leverage,Current Ratio,Quick Ratio,Cash Ratio,Market Cap
Date,,,,,,,,,,,,,
1998-12-01,10051,HGR,22.5000,12744,-0.062500,18179,0.701029,15.773145,0.505724,1.329366,1.329366,0.819465,409027.5000
1999-01-01,10051,HGR,25.0000,9577,0.111111,18179,0.526817,13.170416,0.505724,1.329366,1.329366,0.819465,454475.0000
1999-02-01,10051,HGR,15.1875,29372,-0.392500,18179,1.615710,24.538602,0.505724,1.329366,1.329366,0.819465,276093.5625

## Construct Date list

In [56]:
Date = []
for i in range(1995, 2016):
    for j in range(1, 13):
        date = str(i) + '-' + str(j)
        Date.append(date)

In [64]:
Date[:5]   # See the first 5 elements

['1995-1', '1995-2', '1995-3', '1995-4', '1995-5']

## Sort by Turnover

In [96]:
Return = []  # Used to store return for each month
for date in Date:
    DF = df[date].copy()  # Divide the big df into small DF by date
    N = int(len(DF)/10)   # We decide to long top 10% of universe and short bottom 10%
    DF = DF.sort_values(by = ['Turnover'], axis = 0, ascending = False)  # Sort by Turnover
    profit = ( DF.iloc[:N]['Return'].mean() - DF.iloc[-N:]['Return'].mean() ) / 2 
    Return.append( profit ) # Store each month's profit

In [103]:
from scipy import stats
stats.ttest_1samp(Return, 0)

Ttest_1sampResult(statistic=3.5897646751550125, pvalue=0.00039798832542497034)

In [110]:
len(Return)

252