In [1]:
import pandas as pd

In [2]:
Return = pd.read_csv("D:\\NYU\Syllabus\Spring 2020\Quant Equity Invest\Project\Original Data\df_tmp_Return.csv")
df = pd.read_csv("D:\\NYU\Syllabus\Spring 2020\Quant Equity Invest\Project\Original Data\df_tmp.csv")

In [3]:
Return['Date'] = pd.to_datetime(Return['Date'])
df['Date'] = pd.to_datetime(df['Date'])

In [4]:
Return.head(3)

   PERMNO       Date    Return
0   10051 1998-12-01 -0.062500
1   10051 1999-01-01  0.111111
2   10051 1999-02-01 -0.392500

In [5]:
df.head(3)

,PERMNO,Date,TICKER,Return,Turnover,Dollar Turnover,Current Assets,Assets,Cash&Short Term,Inventory,Current Liabilities,Liabilities,Cash Ratio,Current Ratio,Quick Ratio
0,10051,1998-12-01,HGR,-0.062500,0.701029,15.773145,3034.941,8495.585,9.683,16.935,8.043,4296.419,1.203904,377.339426,375.233868
1,10051,1999-01-01,HGR,0.111111,0.526817,13.170416,3034.941,8495.585,9.683,16.935,8.043,4296.419,1.203904,377.339426,375.233868
2,10051,1999-02-01,HGR,-0.392500,1.615710,24.538602,3034.941,8495.585,9.683,16.935,8.043,4296.419,1.203904,377.339426,375.233868

In [6]:
del df['Return']

In [7]:
df['Date'] = df['Date'] + pd.Timedelta(days=40)
df.head(3)

,PERMNO,Date,TICKER,Turnover,Dollar Turnover,Current Assets,Assets,Cash&Short Term,Inventory,Current Liabilities,Liabilities,Cash Ratio,Current Ratio,Quick Ratio
0,10051,1999-01-10,HGR,0.701029,15.773145,3034.941,8495.585,9.683,16.935,8.043,4296.419,1.203904,377.339426,375.233868
1,10051,1999-02-10,HGR,0.526817,13.170416,3034.941,8495.585,9.683,16.935,8.043,4296.419,1.203904,377.339426,375.233868
2,10051,1999-03-13,HGR,1.615710,24.538602,3034.941,8495.585,9.683,16.935,8.043,4296.419,1.203904,377.339426,375.233868

In [8]:
def delete_day(row):
    row = str(row)
    row = row[:7]
    return row

df['Date'] = df['Date'].apply(delete_day)
Return['Date'] = Return['Date'].apply(delete_day)

In [9]:
df.head(3)

,PERMNO,Date,TICKER,Turnover,Dollar Turnover,Current Assets,Assets,Cash&Short Term,Inventory,Current Liabilities,Liabilities,Cash Ratio,Current Ratio,Quick Ratio
0,10051,1999-01,HGR,0.701029,15.773145,3034.941,8495.585,9.683,16.935,8.043,4296.419,1.203904,377.339426,375.233868
1,10051,1999-02,HGR,0.526817,13.170416,3034.941,8495.585,9.683,16.935,8.043,4296.419,1.203904,377.339426,375.233868
2,10051,1999-03,HGR,1.615710,24.538602,3034.941,8495.585,9.683,16.935,8.043,4296.419,1.203904,377.339426,375.233868

In [10]:
df.set_index(['PERMNO', 'Date'], inplace=True)
Return.set_index(['PERMNO', 'Date'], inplace=True)

In [11]:
df1 = pd.merge(df, Return, on = ['PERMNO', 'Date'], how = 'outer')
df1.head()

               TICKER  Turnover  Dollar Turnover  Current Assets    Assets  \
PERMNO Date
10051  1999-01    HGR  0.701029        15.773145        3034.941  8495.585
       1999-02    HGR  0.526817        13.170416        3034.941  8495.585
       1999-03    HGR  1.615710        24.538602        3034.941  8495.585
       1999-04    HGR  1.498088        20.224185        2991.479  8603.983
       1999-05    HGR  1.251514        18.303390        2991.479  8603.983

                Cash&Short Term  Inventory  Current Liabilities  Liabilities  \
PERMNO Date
10051  1999-01            9.683     16.935                8.043     4296.419
       1999-02            9.683     16.935                8.043     4296.419
       1999-03            9.683     16.935                8.043     4296.419
       1999-04            4.982     17.488                6.948     4334.145
       1999-05            4.982     17.488                6.948     4334.145

                Cash Ratio  Current Ratio  Quick Ratio    Return
PERMNO Date
10051  1999-01    1.203904     377.339426   375.233868  0.111111
       1999-02    1.203904     377.339426   375.233868 -0.392500
       1999-03    1.203904     377.339426   375.233868 -0.111111
       1999-04    0.717041     430.552533   428.035550  0.083333
       1999-05    0.717041     430.552533   428.035550  0.119658

In [12]:
import numpy as np

In [13]:
df1.reset_index(inplace=True)
df1.head()

,PERMNO,Date,TICKER,Turnover,Dollar Turnover,Current Assets,Assets,Cash&Short Term,Inventory,Current Liabilities,Liabilities,Cash Ratio,Current Ratio,Quick Ratio,Return
0,10051,1999-01,HGR,0.701029,15.773145,3034.941,8495.585,9.683,16.935,8.043,4296.419,1.203904,377.339426,375.233868,0.111111
1,10051,1999-02,HGR,0.526817,13.170416,3034.941,8495.585,9.683,16.935,8.043,4296.419,1.203904,377.339426,375.233868,-0.392500
2,10051,1999-03,HGR,1.615710,24.538602,3034.941,8495.585,9.683,16.935,8.043,4296.419,1.203904,377.339426,375.233868,-0.111111
3,10051,1999-04,HGR,1.498088,20.224185,2991.479,8603.983,4.982,17.488,6.948,4334.145,0.717041,430.552533,428.035550,0.083333
4,10051,1999-05,HGR,1.251514,18.303390,2991.479,8603.983,4.982,17.488,6.948,4334.145,0.717041,430.552533,428.035550,0.119658

In [14]:
np.isnan(df1['Return'])

0         False
1         False
2         False
3         False
4         False
          ...
356874     True
356875    False
356876     True
356877    False
356878     True
Name: Return, Length: 356879, dtype: bool

In [15]:
df1 = df1.dropna(subset=['Return'])

In [16]:
df1.shape

(352332, 15)

In [17]:
df1.head(3)

,PERMNO,Date,TICKER,Turnover,Dollar Turnover,Current Assets,Assets,Cash&Short Term,Inventory,Current Liabilities,Liabilities,Cash Ratio,Current Ratio,Quick Ratio,Return
0,10051,1999-01,HGR,0.701029,15.773145,3034.941,8495.585,9.683,16.935,8.043,4296.419,1.203904,377.339426,375.233868,0.111111
1,10051,1999-02,HGR,0.526817,13.170416,3034.941,8495.585,9.683,16.935,8.043,4296.419,1.203904,377.339426,375.233868,-0.392500
2,10051,1999-03,HGR,1.615710,24.538602,3034.941,8495.585,9.683,16.935,8.043,4296.419,1.203904,377.339426,375.233868,-0.111111

In [18]:
#df1.to_csv("D:\\Python\Quant Equity Investing 9733\Minghua Code\liquid.csv", index=False)

In [19]:
Fundamentals = pd.read_csv('D:\\Python\Quant Equity Investing 9733\Minghua Code\Fundamentals_new.csv')
Monthly = pd.read_csv('D:\\Python\Quant Equity Investing 9733\Minghua Code\Monthly_new.csv')

In [20]:
Monthly.set_index(['PERMNO','Date'], inplace=True)
Fundamentals.set_index(['PERMNO','Date'], inplace=True)

In [21]:
df2 = pd.merge(Monthly, Fundamentals, on = ['PERMNO','Date'], how = 'outer')

In [22]:
df2.drop(columns=['TICKER_y','COMNAM_y'], inplace=True)
df2.rename(columns={'TICKER_x':'TICKER', 'COMNAM_x':'COMNAM'}, inplace = True)
df2.sort_index(ascending=True, inplace=True)
df2 = df2.groupby(['PERMNO']).apply(lambda x: x.fillna(method = 'ffill')) ##fill missing values as if looking into the past. 
df2.dropna(inplace=True)
df2.reset_index(inplace=True)
df2.head(3)

,PERMNO,Date,TICKER,COMNAM,Price,Volume,Shares Outstanding,Return,Unnamed: 0,Assets Previous Growth,...,Cash&Short Term Previous Growth,Revenue Previous Growth,COGS Previous Growth,Gross Income Previous Growth,Operating Income Previous Growth,Net Income Previous Growth,EPS Basic Previous Growth,EPS_Operation Previous Growth,Net Operating Cash Flow Previous Growth,Dividend Per Share Previous Growth
0,10051,1999-01-01,HGR,HANGER ORTHOPEDIC GROUP INC,22.5000,12744.0,18179.0,0.111111,16.0,0.120896,...,0.083314,0.040000,0.030781,0.049071,0.085278,0.138436,0.043478,1.5,0.593825,0.0
1,10051,1999-02-01,HGR,HANGER ORTHOPEDIC GROUP INC,25.0000,9577.0,18179.0,-0.392500,16.0,0.120896,...,0.083314,0.040000,0.030781,0.049071,0.085278,0.138436,0.043478,1.5,0.593825,0.0
2,10051,1999-03-01,HGR,HANGER ORTHOPEDIC GROUP INC,15.1875,29372.0,18179.0,-0.111111,17.0,0.029848,...,0.025742,0.054699,0.016057,0.092060,0.088484,0.069417,0.000000,-0.7,0.329531,0.0

In [23]:
def delete_day(row):
    row = str(row)
    row = row[:7]
    return row

df2['Date'] = df2['Date'].apply(delete_day)
df2.head(3)

,PERMNO,Date,TICKER,COMNAM,Price,Volume,Shares Outstanding,Return,Unnamed: 0,Assets Previous Growth,...,Cash&Short Term Previous Growth,Revenue Previous Growth,COGS Previous Growth,Gross Income Previous Growth,Operating Income Previous Growth,Net Income Previous Growth,EPS Basic Previous Growth,EPS_Operation Previous Growth,Net Operating Cash Flow Previous Growth,Dividend Per Share Previous Growth
0,10051,1999-01,HGR,HANGER ORTHOPEDIC GROUP INC,22.5000,12744.0,18179.0,0.111111,16.0,0.120896,...,0.083314,0.040000,0.030781,0.049071,0.085278,0.138436,0.043478,1.5,0.593825,0.0
1,10051,1999-02,HGR,HANGER ORTHOPEDIC GROUP INC,25.0000,9577.0,18179.0,-0.392500,16.0,0.120896,...,0.083314,0.040000,0.030781,0.049071,0.085278,0.138436,0.043478,1.5,0.593825,0.0
2,10051,1999-03,HGR,HANGER ORTHOPEDIC GROUP INC,15.1875,29372.0,18179.0,-0.111111,17.0,0.029848,...,0.025742,0.054699,0.016057,0.092060,0.088484,0.069417,0.000000,-0.7,0.329531,0.0

In [24]:
print(df1.shape)
print(df2.shape)

(352332, 15)
(312520, 23)

In [25]:
df1.set_index(['PERMNO', 'Date'], inplace=True)
df2.set_index(['PERMNO', 'Date'], inplace=True)

In [30]:
df3 = pd.merge(df1, df2, on = ['PERMNO', 'Date'], how = 'outer')
df3.head()

               TICKER_x  Turnover  Dollar Turnover  Current Assets    Assets  \
PERMNO Date
10051  1999-01      HGR  0.701029        15.773145        3034.941  8495.585
       1999-02      HGR  0.526817        13.170416        3034.941  8495.585
       1999-03      HGR  1.615710        24.538602        3034.941  8495.585
       1999-04      HGR  1.498088        20.224185        2991.479  8603.983
       1999-05      HGR  1.251514        18.303390        2991.479  8603.983

                Cash&Short Term  Inventory  Current Liabilities  Liabilities  \
PERMNO Date
10051  1999-01            9.683     16.935                8.043     4296.419
       1999-02            9.683     16.935                8.043     4296.419
       1999-03            9.683     16.935                8.043     4296.419
       1999-04            4.982     17.488                6.948     4334.145
       1999-05            4.982     17.488                6.948     4334.145

                Cash Ratio  ...  Cash&Short Term Previous Growth  \
PERMNO Date                 ...
10051  1999-01    1.203904  ...                         0.083314
       1999-02    1.203904  ...                         0.083314
       1999-03    1.203904  ...                         0.025742
       1999-04    0.717041  ...                         0.025742
       1999-05    0.717041  ...                         0.025742

                Revenue Previous Growth  COGS Previous Growth  \
PERMNO Date
10051  1999-01                 0.040000              0.030781
       1999-02                 0.040000              0.030781
       1999-03                 0.054699              0.016057
       1999-04                 0.054699              0.016057
       1999-05                 0.054699              0.016057

               Gross Income Previous Growth Operating Income Previous Growth  \
PERMNO Date
10051  1999-01                     0.049071                         0.085278
       1999-02                     0.049071                         0.085278
       1999-03                     0.092060                         0.088484
       1999-04                     0.092060                         0.088484
       1999-05                     0.092060                         0.088484

                Net Income  Previous Growth  EPS Basic  Previous Growth  \
PERMNO Date
10051  1999-01                     0.138436                    0.043478
       1999-02                     0.138436                    0.043478
       1999-03                     0.069417                    0.000000
       1999-04                     0.069417                    0.000000
       1999-05                     0.069417                    0.000000

                EPS_Operation Previous Growth  \
PERMNO Date
10051  1999-01                            1.5
       1999-02                            1.5
       1999-03                           -0.7
       1999-04                           -0.7
       1999-05                           -0.7

                Net Operating Cash Flow Previous Growth  \
PERMNO Date
10051  1999-01                                 0.593825
       1999-02                                 0.593825
       1999-03                                 0.329531
       1999-04                                 0.329531
       1999-05                                 0.329531

                Dividend Per Share Previous Growth
PERMNO Date
10051  1999-01                                 0.0
       1999-02                                 0.0
       1999-03                                 0.0
       1999-04                                 0.0
       1999-05                                 0.0

[5 rows x 34 columns]

In [31]:
df3

               TICKER_x  Turnover  Dollar Turnover  Current Assets    Assets  \
PERMNO Date
10051  1999-01      HGR  0.701029        15.773145        3034.941  8495.585
       1999-02      HGR  0.526817        13.170416        3034.941  8495.585
       1999-03      HGR  1.615710        24.538602        3034.941  8495.585
       1999-04      HGR  1.498088        20.224185        2991.479  8603.983
       1999-05      HGR  1.251514        18.303390        2991.479  8603.983
...                 ...       ...              ...             ...       ...
93427  2015-09      NaN       NaN              NaN             NaN       NaN
       2015-10      NaN       NaN              NaN             NaN       NaN
       2015-11      NaN       NaN              NaN             NaN       NaN
       2015-12      NaN       NaN              NaN             NaN       NaN
       2016-01      NaN       NaN              NaN             NaN       NaN

                Cash&Short Term  Inventory  Current Liabilities  Liabilities  \
PERMNO Date
10051  1999-01            9.683     16.935                8.043     4296.419
       1999-02            9.683     16.935                8.043     4296.419
       1999-03            9.683     16.935                8.043     4296.419
       1999-04            4.982     17.488                6.948     4334.145
       1999-05            4.982     17.488                6.948     4334.145
...                         ...        ...                  ...          ...
93427  2015-09              NaN        NaN                  NaN          NaN
       2015-10              NaN        NaN                  NaN          NaN
       2015-11              NaN        NaN                  NaN          NaN
       2015-12              NaN        NaN                  NaN          NaN
       2016-01              NaN        NaN                  NaN          NaN

                Cash Ratio  ...  Cash&Short Term Previous Growth  \
PERMNO Date                 ...
10051  1999-01    1.203904  ...                         0.083314
       1999-02    1.203904  ...                         0.083314
       1999-03    1.203904  ...                         0.025742
       1999-04    0.717041  ...                         0.025742
       1999-05    0.717041  ...                         0.025742
...                    ...  ...                              ...
93427  2015-09         NaN  ...                         0.005898
       2015-10         NaN  ...                         0.005898
       2015-11         NaN  ...                         0.005898
       2015-12         NaN  ...                        -0.032277
       2016-01         NaN  ...                        -0.032277

                Revenue Previous Growth  COGS Previous Growth  \
PERMNO Date
10051  1999-01                 0.040000              0.030781
       1999-02                 0.040000              0.030781
       1999-03                 0.054699              0.016057
       1999-04                 0.054699              0.016057
       1999-05                 0.054699              0.016057
...                                 ...                   ...
93427  2015-09                 0.089748              0.084289
       2015-10                 0.089748              0.084289
       2015-11                 0.089748              0.084289
       2015-12                 0.048325              0.045305
       2016-01                 0.048325              0.045305

               Gross Income Previous Growth Operating Income Previous Growth  \
PERMNO Date
10051  1999-01                     0.049071                         0.085278
       1999-02                     0.049071                         0.085278
       1999-03                     0.092060                         0.088484
       1999-04                     0.092060                         0.088484
       1999-05                     0.092060                         0.088484
...                                     ...                              ...
93427  2015-09                     0.125609                         0.079232
       2015-10                     0.125609                         0.079232
       2015-11                     0.125609                         0.079232
       2015-12                     0.067438                         0.096338
       2016-01                     0.067438                         0.096338

                Net Income  Previous Growth  EPS Basic  Previous Growth  \
PERMNO Date
10051  1999-01                     0.138436                    0.043478
       1999-02                     0.138436                    0.043478
       1999-03                     0.069417                    0.000000
       1999-04                     0.069417                    0.000000
       1999-05                     0.069417                    0.000000
...                                     ...                         ...
93427  2015-09                     0.201936                    0.193548
       2015-10                     0.201936                    0.193548
       2015-11                     0.201936                    0.193548
       2015-12                    -0.877023                   -0.864865
       2016-01                    -0.877023                   -0.864865

                EPS_Operation Previous Growth  \
PERMNO Date
10051  1999-01                       1.500000
       1999-02                       1.500000
       1999-03                      -0.700000
       1999-04                      -0.700000
       1999-05                      -0.700000
...                                       ...
93427  2015-09                      -0.260000
       2015-10                      -0.260000
       2015-11                      -0.260000
       2015-12                       0.351351
       2016-01                       0.351351

                Net Operating Cash Flow Previous Growth  \
PERMNO Date
10051  1999-01                                 0.593825
       1999-02                                 0.593825
       1999-03                                 0.329531
       1999-04                                 0.329531
       1999-05                                 0.329531
...                                                 ...
93427  2015-09                                 0.300091
       2015-10                                 0.300091
       2015-11                                 0.300091
       2015-12                                -0.913755
       2016-01                                -0.913755

                Dividend Per Share Previous Growth
PERMNO Date
10051  1999-01                                 0.0
       1999-02                                 0.0
       1999-03                                 0.0
       1999-04                                 0.0
       1999-05                                 0.0
...                                            ...
93427  2015-09                                 0.0
       2015-10                                 0.0
       2015-11                                 0.0
       2015-12                                 0.0
       2016-01                                 0.0

[404608 rows x 34 columns]

In [32]:
df3.dropna(subset=['TICKER_x'], inplace=True)
df3

               TICKER_x  Turnover  Dollar Turnover  Current Assets    Assets  \
PERMNO Date
10051  1999-01      HGR  0.701029        15.773145        3034.941  8495.585
       1999-02      HGR  0.526817        13.170416        3034.941  8495.585
       1999-03      HGR  1.615710        24.538602        3034.941  8495.585
       1999-04      HGR  1.498088        20.224185        2991.479  8603.983
       1999-05      HGR  1.251514        18.303390        2991.479  8603.983
...                 ...       ...              ...             ...       ...
93423  2015-08      SIX  2.105777        98.213432         896.324  3889.522
       2015-09      SIX  1.410024        63.408768         896.324  3889.522
       2015-10      SIX  1.433226        65.613089         882.902  3908.300
       2015-11      SIX  2.627525       136.736393         882.902  3908.300
       2015-12      SIX  1.009027        52.368494         882.902  3908.300

                Cash&Short Term  Inventory  Current Liabilities  Liabilities  \
PERMNO Date
10051  1999-01            9.683     16.935                8.043     4296.419
       1999-02            9.683     16.935                8.043     4296.419
       1999-03            9.683     16.935                8.043     4296.419
       1999-04            4.982     17.488                6.948     4334.145
       1999-05            4.982     17.488                6.948     4334.145
...                         ...        ...                  ...          ...
93423  2015-08          154.785     35.921             5623.000     1985.355
       2015-09          154.785     35.921             5623.000     1985.355
       2015-10          210.828     26.624             5448.000     2036.208
       2015-11          210.828     26.624             5448.000     2036.208
       2015-12          210.828     26.624             5448.000     2036.208

                Cash Ratio  ...  Cash&Short Term Previous Growth  \
PERMNO Date                 ...
10051  1999-01    1.203904  ...                         0.083314
       1999-02    1.203904  ...                         0.083314
       1999-03    1.203904  ...                         0.025742
       1999-04    0.717041  ...                         0.025742
       1999-05    0.717041  ...                         0.025742
...                    ...  ...                              ...
93423  2015-08    0.027527  ...                        -0.778734
       2015-09    0.027527  ...                         8.468131
       2015-10    0.038698  ...                         8.468131
       2015-11    0.038698  ...                         8.468131
       2015-12    0.038698  ...                         0.362070

                Revenue Previous Growth  COGS Previous Growth  \
PERMNO Date
10051  1999-01                 0.040000              0.030781
       1999-02                 0.040000              0.030781
       1999-03                 0.054699              0.016057
       1999-04                 0.054699              0.016057
       1999-05                 0.054699              0.016057
...                                 ...                   ...
93423  2015-08                -0.536397             -0.081534
       2015-09                 3.533674              0.843827
       2015-10                 3.533674              0.843827
       2015-11                 3.533674              0.843827
       2015-12                 0.490063              0.175283

               Gross Income Previous Growth Operating Income Previous Growth  \
PERMNO Date
10051  1999-01                     0.049071                         0.085278
       1999-02                     0.049071                         0.085278
       1999-03                     0.092060                         0.088484
       1999-04                     0.092060                         0.088484
       1999-05                     0.092060                         0.088484
...                                     ...                              ...
93423  2015-08                    -1.063364                        11.753349
       2015-09                   -41.636499                        -3.729455
       2015-10                   -41.636499                        -3.729455
       2015-11                   -41.636499                        -3.729455
       2015-12                     0.729910                         0.937261

                Net Income  Previous Growth  EPS Basic  Previous Growth  \
PERMNO Date
10051  1999-01                     0.138436                    0.043478
       1999-02                     0.138436                    0.043478
       1999-03                     0.069417                    0.000000
       1999-04                     0.069417                    0.000000
       1999-05                     0.069417                    0.000000
...                                     ...                         ...
93423  2015-08                     1.061318                    0.973684
       2015-09                    -1.931832                   -1.920000
       2015-10                    -1.931832                   -1.920000
       2015-11                    -1.931832                   -1.920000
       2015-12                     1.400354                    1.420290

                EPS_Operation Previous Growth  \
PERMNO Date
10051  1999-01                       1.500000
       1999-02                       1.500000
       1999-03                      -0.700000
       1999-04                      -0.700000
       1999-05                      -0.700000
...                                       ...
93423  2015-08                       0.973684
       2015-09                      -1.986667
       2015-10                      -1.986667
       2015-11                      -1.986667
       2015-12                       1.256757

                Net Operating Cash Flow Previous Growth  \
PERMNO Date
10051  1999-01                                 0.593825
       1999-02                                 0.593825
       1999-03                                 0.329531
       1999-04                                 0.329531
       1999-05                                 0.329531
...                                                 ...
93423  2015-08                                -1.133806
       2015-09                                -3.760034
       2015-10                                -3.760034
       2015-11                                -3.760034
       2015-12                                 1.660048

                Dividend Per Share Previous Growth
PERMNO Date
10051  1999-01                                 0.0
       1999-02                                 0.0
       1999-03                                 0.0
       1999-04                                 0.0
       1999-05                                 0.0
...                                            ...
93423  2015-08                                 0.0
       2015-09                                 0.0
       2015-10                                 0.0
       2015-11                                 0.0
       2015-12                                 0.0

[348233 rows x 34 columns]

In [33]:
df3.dropna(subset=['Turnover'], inplace=True)
df3

               TICKER_x  Turnover  Dollar Turnover  Current Assets    Assets  \
PERMNO Date
10051  1999-01      HGR  0.701029        15.773145        3034.941  8495.585
       1999-02      HGR  0.526817        13.170416        3034.941  8495.585
       1999-03      HGR  1.615710        24.538602        3034.941  8495.585
       1999-04      HGR  1.498088        20.224185        2991.479  8603.983
       1999-05      HGR  1.251514        18.303390        2991.479  8603.983
...                 ...       ...              ...             ...       ...
93423  2015-08      SIX  2.105777        98.213432         896.324  3889.522
       2015-09      SIX  1.410024        63.408768         896.324  3889.522
       2015-10      SIX  1.433226        65.613089         882.902  3908.300
       2015-11      SIX  2.627525       136.736393         882.902  3908.300
       2015-12      SIX  1.009027        52.368494         882.902  3908.300

                Cash&Short Term  Inventory  Current Liabilities  Liabilities  \
PERMNO Date
10051  1999-01            9.683     16.935                8.043     4296.419
       1999-02            9.683     16.935                8.043     4296.419
       1999-03            9.683     16.935                8.043     4296.419
       1999-04            4.982     17.488                6.948     4334.145
       1999-05            4.982     17.488                6.948     4334.145
...                         ...        ...                  ...          ...
93423  2015-08          154.785     35.921             5623.000     1985.355
       2015-09          154.785     35.921             5623.000     1985.355
       2015-10          210.828     26.624             5448.000     2036.208
       2015-11          210.828     26.624             5448.000     2036.208
       2015-12          210.828     26.624             5448.000     2036.208

                Cash Ratio  ...  Cash&Short Term Previous Growth  \
PERMNO Date                 ...
10051  1999-01    1.203904  ...                         0.083314
       1999-02    1.203904  ...                         0.083314
       1999-03    1.203904  ...                         0.025742
       1999-04    0.717041  ...                         0.025742
       1999-05    0.717041  ...                         0.025742
...                    ...  ...                              ...
93423  2015-08    0.027527  ...                        -0.778734
       2015-09    0.027527  ...                         8.468131
       2015-10    0.038698  ...                         8.468131
       2015-11    0.038698  ...                         8.468131
       2015-12    0.038698  ...                         0.362070

                Revenue Previous Growth  COGS Previous Growth  \
PERMNO Date
10051  1999-01                 0.040000              0.030781
       1999-02                 0.040000              0.030781
       1999-03                 0.054699              0.016057
       1999-04                 0.054699              0.016057
       1999-05                 0.054699              0.016057
...                                 ...                   ...
93423  2015-08                -0.536397             -0.081534
       2015-09                 3.533674              0.843827
       2015-10                 3.533674              0.843827
       2015-11                 3.533674              0.843827
       2015-12                 0.490063              0.175283

               Gross Income Previous Growth Operating Income Previous Growth  \
PERMNO Date
10051  1999-01                     0.049071                         0.085278
       1999-02                     0.049071                         0.085278
       1999-03                     0.092060                         0.088484
       1999-04                     0.092060                         0.088484
       1999-05                     0.092060                         0.088484
...                                     ...                              ...
93423  2015-08                    -1.063364                        11.753349
       2015-09                   -41.636499                        -3.729455
       2015-10                   -41.636499                        -3.729455
       2015-11                   -41.636499                        -3.729455
       2015-12                     0.729910                         0.937261

                Net Income  Previous Growth  EPS Basic  Previous Growth  \
PERMNO Date
10051  1999-01                     0.138436                    0.043478
       1999-02                     0.138436                    0.043478
       1999-03                     0.069417                    0.000000
       1999-04                     0.069417                    0.000000
       1999-05                     0.069417                    0.000000
...                                     ...                         ...
93423  2015-08                     1.061318                    0.973684
       2015-09                    -1.931832                   -1.920000
       2015-10                    -1.931832                   -1.920000
       2015-11                    -1.931832                   -1.920000
       2015-12                     1.400354                    1.420290

                EPS_Operation Previous Growth  \
PERMNO Date
10051  1999-01                       1.500000
       1999-02                       1.500000
       1999-03                      -0.700000
       1999-04                      -0.700000
       1999-05                      -0.700000
...                                       ...
93423  2015-08                       0.973684
       2015-09                      -1.986667
       2015-10                      -1.986667
       2015-11                      -1.986667
       2015-12                       1.256757

                Net Operating Cash Flow Previous Growth  \
PERMNO Date
10051  1999-01                                 0.593825
       1999-02                                 0.593825
       1999-03                                 0.329531
       1999-04                                 0.329531
       1999-05                                 0.329531
...                                                 ...
93423  2015-08                                -1.133806
       2015-09                                -3.760034
       2015-10                                -3.760034
       2015-11                                -3.760034
       2015-12                                 1.660048

                Dividend Per Share Previous Growth
PERMNO Date
10051  1999-01                                 0.0
       1999-02                                 0.0
       1999-03                                 0.0
       1999-04                                 0.0
       1999-05                                 0.0
...                                            ...
93423  2015-08                                 0.0
       2015-09                                 0.0
       2015-10                                 0.0
       2015-11                                 0.0
       2015-12                                 0.0

[348233 rows x 34 columns]

In [34]:
df3.reset_index(inplace=True)
df3.to_csv("D:\\Python\Quant Equity Investing 9733\Minghua Code\ALL.csv")